* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --hue: 195;
  --color-base-blue: hsl(var(--hue), 91%, 25%);
  --color-base-white: hsl(0, 0%, 100%);
  --color-base-black: hsl(0, 0%, 0%);
}

body {
  font-size: 1.6rem;
  background: var(--color-base-blue);
}

html,
body,
input {
  font-family: "Mulish", sans-serif;
}

/* ========== GRID ========== */

#app {
  height: 100vh;

  display: grid;
  grid-template-areas:
    "a a a"
    "b b b"
    "c c c";
  grid-template-rows: max-content 1fr max-content;
}

header {
  grid-area: a;
}

main {
  grid-area: b;
}

footer {
  grid-area: c;
}

.container {
  width: min(122rem, 100%);
  margin: 0 auto;
}

/* ========== HEADER ========== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
  padding: 1.5rem 0;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

form {
  flex: 1;
}

input {
  width: 100%;
  border-radius: 4px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  padding: 1.2rem 1.4rem;
}

input,
::placeholder {
  color: var(--color-base-white);
  font-size: 16px;
  font-style: normal;
  line-height: 1.6rem;
}

/* ========== MAIN ========== */
main {
  background: var(--color-base-white);
  overflow-y: scroll;
}

.content {
  display: flex;
  padding: 0 2.5rem;
  margin-top: 4.4rem;
  gap: 3.4rem;
}

/* ========== CONTAINER-1 ========== */
.container-item-1 {
  /* background: #777; */
  flex: 1 1 200rem;
}

.img-main {
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 3rem;
}

.main-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.2rem;
}

.button {
  display: flex;
  gap: 1.2rem;
}

.button-like {
  cursor: pointer;
}

h1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 3.8rem;
}

.mian-text {
  font-weight: 400;
  line-height: 2.5rem;
  margin-bottom: 4rem;
}

/* ========== CONTAINER-2 ========== */
.container-item-2 {
  flex: 1 1 auto;
  width: 100%;
}

h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.8rem;
  margin-bottom: 3.2rem;
}

.img-side {
  display: flex;
  gap: 1.6rem;
  /* align-items: center; */
  margin-bottom: 3.2rem;
  transition: 0.35s;
  cursor: pointer;
}

.container-animation:hover > :not(:hover) {
  opacity: 0.4;
  transform: scale(0.9);
}

.thumb {
  border-radius: 0.5rem;
  width: 100%;
  max-width: 170px;
  height: 10rem;
  object-fit: cover;
}

h3 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.8rem;
}

.text-description {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
}

/* ========== FOOTER ========== */
footer > p {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.5rem 0;
}

/* ========== MEDIA QUERIES ========== */

@media (max-width: 1024px) {
  .content {
    flex-wrap: wrap;
  }

  .container-item-2 {
    max-width: 100%;
  }

  .thumb {
    width: 200px;
  }
}
